/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unlock&display=swap'); */

/* 
* Variables
*/

:root {
    --primary-background-color-rgb: 6,11,22;
    --primary-background-color: #060B16;
    --primary-foreground-color: #FFF;
    --primary-border-color-rgb: 159, 181, 229;
    --secondary-background-color: #121722;
    --secondary-foreground-color: #FFF;
    --tertiary-background-color: #101d3b;
    --accent-color: #6F7C90;
    --accent-color-text: #FFF;
    --accent-color-light: #EFF3FB;
    --accent-color-light-text: #000;
    
    --warning-color: #AF5050;
    --success-color: #50AF53;
    
    --color-title: #fff;
    --color-text: #d2d3d3;
    --color-text-light: #9e9fa0;
}


/* 
* Typography
*/


html {font-size: 16px;}

body {
    font-family: "Roboto", sans-serif;
    font-weight: false;
    line-height: 1.65;
}

p {
    font-size: 1em;
}

h1,
h2,
h3 {
  font-family: "Roboto Serif", serif;
  font-weight: true;
  line-height: 1.15;
  color: var(--color-title);
}

h4,
h5 {
  font-family: "Roboto", sans-serif;
  font-weight: true;
  line-height: 1.15;
  color: var(--color-title);
}

h1,
.text-size-h1 {
  font-weight: 700;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}

/* 
* BASE
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    border: none;
}

html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

:focus:not(:focus-visible) {
    outline: none;
}

img {
    display: block;
    max-width: 100%;
}

/* * Takes off padding from lists outside of articles */
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

menu,
ol,
ul {
    padding-left: 0;
}

article ol,
article ul {
    list-style-position: inside;
}

/* * Links */
a {
    text-decoration-thickness: 8;
    text-underline-offset: 0.2rem;
}

/* * Enforces cursor */
label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

/* 
* START
*/

html {
    background-color: var(--primary-background-color);
    color: var(--color-text);
    display: flex;
    justify-content: center;
}

body {
    max-width: 1200px;
    width: 100%;
}

a {
    color: var(--primary-foreground-color)
}

/* 
* Home button
*/

.home-button {
    font-family: "Unlock", serif;
    font-size: 2em;
    text-decoration: none;
    color: #fff;
}

/* 
* Buttons
*/

.primary-button,
.secondary-button {
    all: unset;
    padding: 12px 32px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 16px;
}
.primary-button {
    background-color: var(--accent-color);
    
}
.secondary-button {
    border: 1px solid var(--accent-color);
}