.region-breadcrumb {
    display: flex;
    justify-content: space-between;
}

.region-breadcrumb ul, .region-breadcrumb ol {
    display: flex;
}

#block-is373mob-start-breadcrumbs a {
    color: var(--color-text);
    text-decoration: none;
}

#block-is373mob-start-breadcrumbs a:hover {
    color: var(--accent-color-light);
}
#block-is373mob-start-breadcrumbs ol li:not(:last-child)::after {
    content: '/'; /* Add separator */
    margin: 0 10px; /* Add spacing around separator */
    color: var(--color-text-light);
}