form {
    padding: 24px;
    background-color: var(--secondary-background-color);
}

.form-item {
    margin-block: 1.5rem;
}

.form-item * {
    display: block;
}

.form-item label::after {
    content: "*";
    color: var(--warning-color);
    line-height: 1;
    margin-inline: .15em;
    vertical-align: text-top;
    background: none;
}

.form-item input {
    padding: 8px 12px;
    background-color: unset;
    color: var(--color-text);
    border: 1px solid var(--accent-color);
    font-size: 1rem;
    border-radius: 8px;
}

.form-actions .button {
    all: unset;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 8px;
    background-color: var(--accent-color);
    color: var(--accent-color-text);
}

.form-item .description {
    font-size: 12px;
    line-height: 17px;
    max-width: 80ch;
}

.form-item .password-suggestions {
    padding: 24px;
    border: 1px solid var(--accent-color);
    font-size: 12px;
    margin-bottom: 0px;
}

.form-item .password-suggestions ul {
    margin-bottom: 0px;
}

.form-wrapper .button {
    all: unset;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 8px;
    background-color: var(--accent-color);
    color: var(--accent-color-text);
}

#search-form {}

textarea .js-text-full{
    background-color: #121722;
}